{%  extends "base.html" %}
{% block content %}



<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pink Page</title>

<div class="container-md bg-white p-5 ">
</head>
<body>
  <h1>გამარჯობა, ეს არის გვერდი ჩვენს შესახებ</h1>
  <h3>ჩვენი ისტორია დიდი ხანია დაიწყო, ხარისხიანი ყვავილების ვებსაიტების არარსებობით იმედგაცრუებულმა, მე გავაშენე ჩემი საკუთარი ციფრული ბაღი. გადავწყვიტე შემოგთავაზოთ აყვავებული გამოცდილება, ჩემი საიტი აყვავდა იქ, სადაც სხვებმა ვერ შეძლეს და სიახლე შემოიტანა ონლაინ ყვავილების სიამოვნებაში.</h3 >
</body>

      {% endblock %}
</div>
