{%  extends "base.html" %}

{% block title %}
   tbc class
{% endblock %}

{% block content %}

  {% if form.errors %}
      {% for field, errors in form.errors.items() %}
           {% for error in errors %}
           {% endfor %}
      {% endfor %}
  {% endif %}
<div class="container-md bg-white p-5">
   <form method="post" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
       {{ form.username(class="form-control ", placeholder=form.username.label.text) }}
       {{ form.password(class="form-control mt-3", placeholder=form.password.label.text) }}

       {{ form.login(class="btn btn-success mt-2 custom-pink-button") }}

     </form>
      {% endblock %}
</div>